;; This config file follows the git-config format. More information
;; can be found here <http://git-scm.com/docs/git-config#_syntax>

;; Just some basic defaults, but these are overridden by the more
;; specific network settings.

[general]
nick        = "GoBoat"
username    = "GoBoat"

;; This uses the normal SQL library on Go. But for now, only the
;; SQLite3 driver is supported.

[logger]
driver      = "sqlite3"
source      = "derp.db"

;; Networks must have unique names or you will experience pain.

[network "funplace"]
host        = "irc.funplace.net"
channel     = "#spam"
channel     = "#boats"

[network "freenode"]
nick        = "humanoid"
host        = "irc.freenode.net"
port        = 6697
usessl      = yes

;; Nickserv password.

identpass   = "hunter2"

;; If your nickserv account is tied to another nick, you can specify
;; it here.

identnick   = "mynormalnick"

;; Sometimes you don't want to join a channel before your vhost has
;; changed. This option will wait for your VHost to change.

waitvhost   = yes

;; Multiple channels can be listed.

channel     = "#boats"
channel     = "#cars"
channel     = "#pets"

;; Can connect to the same network twice using different account
;; information. If you're into that sort of thing.

;[network "freenode2"]
;nick        = "humanoid"
;host        = "irc.freenode.net"
;channel     = "#boats"
;channel     = "#cars"
;channel     = "#pets"
